* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background: url("./pexels.jpeg");
  background-repeat: no-repeat;
  background-size:cover;;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.data ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
  background-color:#fff;
}
.data li {
  float: none;
  width: fit-content;
  height: 100px;
  margin: 18px 0px 18px 0px;
}
.data img{
height: 100px;
width: 100px;
float: left;
}
.infodata{
  width: 100%;

}
.data .info{
height: 100px;
float: right;
}
.data .user{
float: left;
height: 100px;
width: 100px;
}
.data .infoDatasete{
width: 90%;
float: right;
}
.data img{
  height: 100px;
  width: 100px;
  float: right;
  border-right: 1px solid;
  }
li {
  float: left;
}
.result ul li{
  border: 1px solid;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4eaf4c;
  color: #fff !important;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}



.SearchBar{
  text-align: center;
  
 
}
input#search-bar{
  margin: 0 auto;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border-radius:5px; 
  border: 1px solid #D0CFCE;
  outline: none;

 
   
 }

.search-icon{
  position: absolute;
  width: 75px;
  height: 44px;
  border-radius:5px; 
  
}
.SearchBar{
position: absolute;
left: 50%;
top: 30%;
-webkit-transform: translate(-50%);
transform: translate(-50%);
}


.react-autosuggest__container {
  position: relative;
  float: left;
}

.react-autosuggest__input {
  width: 240px;
  height: 40px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 340px;
  height: 35px;
  margin-right: 2px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 380px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
  width: 100%;
}
.right{
  float: right;
}
#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
 
  text-align: center;
  height: 24px;
  border-radius: 10px;
  width: 60px;
  margin: 9px 8px;
}
.headingCont{
 display: block;
}

.headingCont .heading{
 color: #fff;
}
.headingCont .count{
  color: #fff;
}
.headreBg{
  background: #333;
}